@import "tailwindcss";

@theme {
  --color-primary: var(--color-zinc-700);
  --color-secondary: var(--color-zinc-50);
  --color-background-primary: var(--color-slate-100);
  --color-background-secondary: var(--color-slate-500);
}

@layer base {}

@layer components {}

@layer utilities {}
